@model IEnumerable<Org.Ktu.Isk.P175B602.Autonuoma.Models.Products.ProductsL>

@* this will also be used as page title in main layout *@
@{ ViewData["title"] = "Produktai"; }

@* content header *@
<div class="main-content-header">
    <span class="title">@ViewData["title"]</span>
    <span class="actions">
        <a href="@Url.Action("Create")" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Sukurti naują</a>
    </span>
</div>

@* content itself *@
<div class="main-content-lst">
    <table class="entity-list">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.id_PRODUCT)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.name)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.cost)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.size)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.country)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.id_PRODUCT)
                </td>
                <td>
                    @Html.DisplayFor(m => item.name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.cost)
                </td>
                <td>
                    @Html.DisplayFor(m => item.size)
                </td>
                <td>
                    @Html.DisplayFor(m => item.country)
                </td>
                <td class="actions">
                    <a href="@Url.Action("Edit", new { id = item.id_PRODUCT })" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i> Redaguoti</a>
                    <a href="@Url.Action("Delete", new { id = item.id_PRODUCT })" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Šalinti</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>