@model Org.Ktu.Isk.P175B602.Autonuoma.Models.OrdersF2.OrdersCE

@{
    ViewData["title"] = "Užsakymo redagavimas (F2)";
}

<div class="main-content-header">
    <span class="title">@ViewData["title"]</span>
    <span class="actions">
        <a href="@Url.Action("Index")" class="btn btn-outline-primary btn-sm">
            <i class="fa-solid fa-angles-left"></i> Atgal į sąrašą
        </a>
    </span>
</div>

<div class="main-content-ced">
@using (Html.BeginForm(FormMethod.Post, new { @class = "entity-ce" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @* Hidden field for ID - not visible to user but preserved in form *@
    @Html.HiddenFor(m => m.Orders.id_ORDER)

    <fieldset>
        <legend class="text-center">Užsakymo informacija</legend>

        @* Display-only ID field for reference *@
        <div class="form-group">
            <label>Užsakymo ID (naudojamas sistemoje):</label>
            <div class="form-control-static">
                @Model.Orders.id_ORDER
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Orders.startDate)
            @Html.TextBoxFor(m => m.Orders.startDate, "{0:yyyy-MM-dd}", new { @class = "date-picker" })
            @Html.ValidationMessageFor(m => m.Orders.startDate, "")
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Orders.endDate)
            @Html.TextBoxFor(m => m.Orders.endDate, "{0:yyyy-MM-dd}", new { @class = "date-picker" })
            @Html.ValidationMessageFor(m => m.Orders.endDate, "")
        </div>


        @if (ViewData["error"] != null)
        {
            <div class="alert alert-danger" role="alert">
                <i class="fa-solid fa-circle-exclamation"></i> Pabaigos data anskestne uz pradzios  
            </div>
        }

        <div class="form-group">
            @Html.LabelFor(m => m.Orders.fk_USER)
            @Html.DropDownListFor(m => m.Orders.fk_USER, Model.Lists.Users, (string)ViewData["none-chosen"])
            @Html.ValidationMessageFor(m => m.Orders.fk_USER, "")
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Orders.totalPrice)
            @Html.EditorFor(m => m.Orders.totalPrice)
            @Html.ValidationMessageFor(m => m.Orders.totalPrice, "")
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Orders.costOfDelivery)
            @Html.EditorFor(m => m.Orders.costOfDelivery)
            @Html.ValidationMessageFor(m => m.Orders.costOfDelivery, "")
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Orders.estimatedDeliveryDate)
            @Html.TextBoxFor(m => m.Orders.estimatedDeliveryDate, "{0:yyyy-MM-dd}", new { @class = "date-picker" })
            @Html.ValidationMessageFor(m => m.Orders.estimatedDeliveryDate, "")
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Orders.orderState)
            @Html.DropDownListFor(m => m.Orders.orderState, Model.Lists.OrderStates, (string)ViewData["none-chosen"])
            @Html.ValidationMessageFor(m => m.Orders.orderState, "")
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Orders.discount)
            @Html.EditorFor(m => m.Orders.discount)
            @Html.ValidationMessageFor(m => m.Orders.discount, "")
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Orders.discountCode)
            @Html.EditorFor(m => m.Orders.discountCode)
            @Html.ValidationMessageFor(m => m.Orders.discountCode, "")
        </div>
    </fieldset>

    <fieldset>
        <div class="container-fluid d-flex d-row justify-content-between align-items-center">
            <span></span>
            <legend style="width: unset; margin-bottom: 0px;">Užsakytos prekės</legend>
            <button
                name="add"
                value="1"
                formnovalidate
                formaction="@Url.Action()#listEnd"
                class="btn btn-info"
            ><i class="fa-solid fa-plus"></i> Pridėti</button>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Prekė</th>
                    <th>Kiekis</th>
                    <th>Kaina</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.UzsakytosPaslaugos.Count; i++)
                {
                    <tr>
                        <td class="form-group">
                            @Html.HiddenFor(m => m.UzsakytosPaslaugos[i].InListId)
                            @Html.DropDownListFor(
                                m => m.UzsakytosPaslaugos[i].fk_PRODUCT,
                                Model.Lists.Products,
                                (string)ViewData["none-chosen"]
                            )
                            @Html.ValidationMessageFor(m => m.UzsakytosPaslaugos[i].fk_PRODUCT, "")
                        </td>
                        <td class="form-group">
                            @Html.EditorFor(m => m.UzsakytosPaslaugos[i].quantity)
                            @Html.ValidationMessageFor(m => m.UzsakytosPaslaugos[i].quantity, "")
                        </td>
                        <td class="form-group">
                            @Html.EditorFor(m => m.UzsakytosPaslaugos[i].subTotal)
                            @Html.ValidationMessageFor(m => m.UzsakytosPaslaugos[i].subTotal, "")
                        </td>
                        <td>
                            <button
                                name="remove"
                                value="@Model.UzsakytosPaslaugos[i].InListId"
                                formnovalidate
                                formaction="@Url.Action()#listEnd"
                                class="btn btn-danger"
                            ><i class="fa-solid fa-trash"></i> Šalinti</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <span id="listEnd"></span>



    </fieldset>

    <div class="container-fluid d-flex d-row justify-content-end">
        <button name="save" value="1" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Išsaugoti</button>
    </div>
}
</div>

<div class="main-content-footer">
    <span class="title"></span>
    <span class="actions">
        <a href="@Url.Action("Index")" class="btn btn-outline-primary btn-sm">
            <i class="fa-solid fa-angles-left"></i> Atgal į sąrašą
        </a>
    </span>
</div>