@model Org.Ktu.Isk.P175B602.Autonuoma.Models.Colour

@{ ViewData["title"] = "Spalvos šalinimas"; }

<div class="main-content-header">
	<span class="title">@ViewData["title"]</span>
	<span class="actions">
		<a 
			href="@Url.Action("Index")" 
			class="btn btn-outline-primary btn-sm"
		>
			<i class="fa-solid fa-angles-left"></i> Atgal į sąrašą
		</a>
	</span>
</div>

<div class="main-content-ced">
@using( Html.BeginForm(FormMethod.Post, new { @class = "entity-d" }) )
{
	@Html.AntiForgeryToken()

	<fieldset>
		<legend class="confirm-msg">Ar tikrai norite pašalinti šią spalvą?</legend>

		<dl>
			<dt>@Html.DisplayNameFor(m => m.Id)</dt>
			<dd>@Html.DisplayFor(m => m.Id)</dd>

			<dt>@Html.DisplayNameFor(m => m.Name)</dt>
			<dd>@Html.DisplayFor(m => m.Name)</dd>

			<dt>@Html.DisplayNameFor(m => m.Shade)</dt>
			<dd>@Html.DisplayFor(m => m.Shade)</dd>
		</dl>

		@if( ViewData["deletionNotPermitted"] != null )
		{
			<div class="fail-msg">
				<i class="fa-solid fa-circle-exclamation"></i> Šios spalvos pašalinti negalima, nes 
				ji turi ryšių su kitomis esybėmis.
			</div>
		}
		else
		{
			<div class="buttons">
				<button
					formaction="@Url.Action("DeleteConfirm", new { id = Model.Id })"
					class="btn btn-danger"
					style="white-space: nowrap;"
				><i class="fa-solid fa-trash"></i> Šalinti</button>
			</div>
		}
	</fieldset>
}
</div>

<div class="main-content-footer">
	<span class="title"></span>
	<span class="actions">
		<a 
			href="@Url.Action("Index")" 
			class="btn btn-outline-primary btn-sm"
		>
			<i class="fa-solid fa-angles-left"></i> Atgal į sąrašą
		</a>
	</span>
</div>
